<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
    <title>Alg&#x00B3 - 3x3 </title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>
<body>
    <h1>3x3</h1>
    <a href="PLL">
        <div id="puzzle-box">
            <img src="images/PLL.png">
            <p>PLL</p>
        </div>
    </a>
</body>
</html>