<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
    <title>Alg&#x00B3</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>
<body>
    <h1>Alg&#x00B3</h1>
</body>
</html>