<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
    <title>Alg&#x00B3</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>
<body>
    <h1>Alg&#x00B3</h1>
    <h2>A Community Based Algorithm database</h2>
    <div id="flexbox-container">
        <a href="3x3">
            <div id="puzzle-box">
                <img src="images/3x3.png">
                <p>3x3</p>
            </div>
        </a>
    </div>
</body>
</html>
