body {
    background-color: #E8E8E8;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 4em;
}
h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2em;
}

a {
    text-decoration: none;
}

#puzzle-box {
    background-color: white;
    height: 15em;
    width: 15em;
    margin: 0 auto;
    text-align: center;
}

#puzzle-box img{
    height: 10em;
    width: 10em;
}

#puzzle-box p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2em;
    color: black;
}